* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body{background-color: rgba(225, 19, 100, 255);}

main{background-color: #bc105c;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.boton-volver{
    display: flex;
    top: 2.5%;
    right: 15%;
    position: absolute;
    margin-top: 30px;}

    .boton-volver button{background-color: #252525e3;
    width: 50px;
    height: 50px;
    border-radius: 80px;
    color: rgba(255, 255, 255, 0.788);
    border-color: #25252500;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

    .boton-volver button:hover{
        width: 75px;
        height: 75px;
        font-size: 35px;}

.portada{overflow: hidden;
        max-height: 500px;}

.portadamk11landingpage{border-radius: 10px;}


.seccion-compra{display: flex;
flex-direction: row;
margin: 2.5%;}

/* PORTADA */

    .portadamk11landingpage {
        width: 100%;
        z-index: 0;
        zoom: 30%;
    }

/* CARD COMPRA */
    
    .buy-info {
        width: fit-content;
        background: rgb(15, 15, 15);
        color: rgb(255, 255, 255);
        padding: 15px;
        margin-top: -250px;
        box-shadow: 5px 5px 30px rgb(8, 8, 8);
        z-index: 1;
        width: 60%;
        max-width: 850px;
        display: flex;
        flex-direction:column;
        border-radius: 5px;
    }

        .buy-info h1 {
            font-size: 50px;
            color: rgb(250, 13, 131);
        }

        .buy-info p{font-weight: bolder;
            margin-bottom: 15px;}

        .buy-info h2 { font-size: 25px;
            font-weight: bolder;
            margin-bottom: 5px; text-decoration: underline;
        }

        .buy-info li{list-style: none;
            margin-top: 10px;}

        .precio{display: flex;
        flex-direction: column;
        margin-top: 25px;
        padding-top: 10px;}

            .precio h3{font-size: 30px; font-weight: lighter;}

                .precio h3 span{color: rgba(136, 136, 136, 0.568); text-decoration: line-through;}
            
            .precio p{font-size: 16px; margin-top: 5px;}

            .precio p span {font-weight: lighter; color: rgba(255, 255, 255, 0.685);}
                

    /* IFORMACION DEL JUEGO */

    .info-juego{display: flex;
    flex-direction: column;
    margin-top: -10px;
    margin-bottom: 15px;
    margin-right: -15px;
    margin-left: -5px;
    background-color: #ffffff;
    align-items: center;
    height: fit-content;
    padding-bottom: 10px;
    width: 100%;

}

        .info-general {width: 80%;
        padding-top: 15px;
        padding-bottom: 15px;}
            
            .info-general h2 {margin-bottom:5px;
            font-size: 18px; text-decoration: underline;
        color: #f3167a;}

            .info-general ul{list-style: none;}
                
                .item-lista{
                    font-weight: bold;
                    font-size: 15px;
                }
                    
                .info-general ul li{
                    font-size: 13px;
                }

        .pegi {
            display: flex;
            width: 80%;
        }

            .pegi p{
                margin-left: 15px; 
                font-size: 12px;
            }

            .pegi img{
                width: 50px; 
                height: 80px;
            }

    .botondecompra{
        align-items: center;
        text-align: center;
        margin-top: 5px;}

        .botondecompra button{
        background-color: #2eb11f;
        color: rgb(255, 255, 255);
        width: 50%;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;}

        .botondecompra button:hover{background-color: #bc105c;}

/* VIDEO */

.contenido-multimedia-video{   
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(22, 22, 22);
    text-align: center;
    }

/* IMAGENES */

.imagenes-titulo{font-size: 40px;
    text-align: center;
    background-color: rgb(22, 22, 22);
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f3167a;
    margin-top: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.445);
}

.contenido-multimedia-imagenes-renglon1{margin-top: 15px;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    width: 100%;}



.contenido-multimedia-imagenes-renglon1 img{
    width: 100%;
    height: 100%;
    border: black solid 2px;
}

.img1{width: 50%;}
.img2{width: 50%;}
.img3{width: 50%;}
.img4{width: 50%;}

.contenido-multimedia-imagenes-renglon2{margin-top: 0px;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.contenido-multimedia-imagenes-renglon2 img{
    width: 100%;
    height: 100%;
    border: black solid 2px;
}

.boton-volver-final{display: flex;
    margin-top:30px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
background-color: #222222;}

    .boton-volver-final button{
        width: 300px;
        border-radius: 5px;
        color:#ffffff;
        background-color: #2eb11f;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
        }
    
    .boton-volver-final button:hover{background-color: #bc105c;}

footer{
    color:white;
    background-color: rgba(255, 255, 255, 0.24);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:5px ;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
}

footer{justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:5px ;
    height: 50px;
    border-radius: 5px;}

.texto-footer{ 
    text-align: center;
    font-size: 10px;
    font-weight: bold;}



